Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Unity/Temp/
Unity/Obj/
Unity/UnityGenerated/
Unity/Library/
Unity/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.sln
*.user
*.unityproj
Unity/.DS_Store
Unity/.DS_Store?
Unity/._*
Unity/.Spotlight-V100
Unity/.Trashes
Unity/Icon?
Unity/ehthumbs.db
Unity/Assets/Universe.dll
