@import '../../general/mixins';

.warpPathListItem {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.2rem 0.6rem;
    cursor: pointer;
}

.warpPathListItem--selected {
    background-color: $colorTertiary;
    color: $colorHighlight;
}

.warpPathListItem--inRange.warpPathListItem--selected {
    background-color: $colorGoodDark;
}

.warpPathListItem--outOfRange.warpPathListItem--selected {
    background-color: $colorBadDark;
}

.warpPathListItem--inRange:not(.warpPathListItem--selected) .warpPathListItem__name {
    color: $colorGoodLight;
}

.warpPathListItem--outOfRange:not(.warpPathListItem--selected) .warpPathListItem__name {
    color: $colorBadLight;
}

.warpPathListItem--invalid {
    color: $colorBadLight;
}

.warpPathListItem__name {
    font-weight: bold;
}

.warpPathListItem:hover .warpPathListItem__name {
    text-decoration: underline;
}

.warpPathListItem__points {
    display: flex;
}

.warpPathListItem__coordinates {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}