@import '../../general/mixins';

.powerCardWrapper {
    overflow: hidden;
    width: 11em;
}

.powerCardWrapper:last-child {
    overflow: visible;
    width: unset;
}

.powerCardWrapper--selected {
    overflow: visible;
}

.powerCard {
    width: 10em;
    min-width: 10em;
    height: 15em;
    border-radius: 0.5em;
    border: solid $colorSecondary 1px;
    background-color: #442200;
    padding: 0.25em 0.1em 0 0.1em;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.powerCard--selected {
    flex-shrink: 0;
    border-color: $colorHighlight;
    background-color: #884400;
}

.powerCard--cantSelect {
    cursor: not-allowed;
}

.powerCard__name {
    font-weight: bold;
    font-size: 1.1em;
}

.powerCard__desc {
    align-self: stretch;
}

.powerCard__rarity::after {
    content: 'o';
}

.powerCard--common .powerCard__rarity {
    color: $colorTertiary;
}

.powerCard--rare .powerCard__rarity {
    color: #00ccff;
}

.powerCard--epic .powerCard__rarity {
    color: #cc66ff;   
}