@import '../../general/mixins';

.power {
    display: grid;
    grid-gap: 1em;
}

.powerSystemList {
    grid-area: systems;
}

.power__cardSelection {
    grid-area: selection;
}

.power__selectionActions {
    grid-area: selectionActions;
    display: flex;
    justify-content: space-evenly;
}

.power__overallPower {
    grid-area: overall;
}

.power__charge {
    grid-area: charge;
    background-color: green;
}

.power__cardHand {
    grid-area: hand;
}

.power__selectionIndicator {
    grid-area: action;
}

.power__selectionBack {
    display: none;
}

@include landscape() {
    .power {
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 3fr 4fr;
        grid-template-areas:
            "systems selection"
            "systems hand";
    }
}


@include portrait() {
    .power {
        grid-gap: 0.5em;
        grid-template-rows: 2.5em 0.25em 1em 1fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "overall action"
            "charge charge"
            "systems label"
            "systems cards";
    }

    .power__handLabel,
    .power__selectionLabel {
        grid-area: label;
    }

    .power__selectionLabel,
    .power__selectionActions {
        display: none;
    }

    .power .powerCardSet {
        flex-direction: column;
        align-items: flex-end;
    }

    .power .power__cardSelection {
        display: none;
        grid-area: cards;
    }

    .power__cardHand {
        grid-area: cards;
    }

    .power__selectionIndicator {
        grid-area: action;
    }

    .power--selection {
        grid-template-areas:
            "selectionActions selectionActions"
            "charge charge"
            "systems label"
            "systems cards";

        & .power__cardSelection,
        & .power__selectionActions {
            display: flex;
        }

        & .power__cardHand,
        & .power__handLabel,
        & .power__selectionIndicator,
        & .power__overallPower {
            display: none;
        }

        & .power__discardChoice,
        & .power__selectionLabel,
        & .power__selectionBack {
            display: block;
        }
    }
}