@import '../../general/mixins';

.powerSystem {
    border-radius: 0.5em;
    background-color: $colorTertiary;
    border: solid 0.1em $colorTertiary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0.1em 0.5em 0 0.5em;
    transition: 0.3s all;
    position: relative;
}

.powerSystem--selecting {
    background-color: $colorQuaternary;
    border-color: $colorQuaternary;
    cursor: pointer;
}

.powerSystem--unselectable {
    opacity: 0.6;
    color: white;
    cursor: not-allowed;
}

.powerSystem--disabled {
    background-color: transparent;
    color: $textColor;
}

.powerSystem__name {
    flex-grow: 1;
    text-align: center;
}

.powerSystem__power {
    font-weight: bold;
    font-size: 1.5em;
}

.powerSystem__power::after {
    content: '%';
    font-weight: normal;
}

.powerSystem__effects {
    position: absolute;
    width: 0.3em;
    height: 2em;
    right: 0.75em;
    bottom: 0em;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.powerSystem__effect {
    height: 0.3em;
    flex-shrink: 1;
    background-color: white;
    margin: 0.1em 0;
    border-radius: 0.15em;
}