@import '../../general/mixins';

.power {
    display: grid;
    grid-gap: 1em;
}

.powerSystemList {
    grid-area: systems;
}

.power__cardSelection {
    grid-area: selection;
}

.power__selectionActions {
    grid-area: selectionActions;
    display: flex;
    justify-content: space-evenly;
}

.power__charge {
    grid-area: charge;
}

.power__cardHand {
    grid-area: hand;
}

.power__queueSize {
    grid-area: queueSize;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1.75em;
    background-color: $colorPrimary;
    color: $backgroundColor;
    padding: 0.1em;
    justify-self: center;
    text-align: center;
    width: 1.3em;
}

.power__chooseButton,
.power__discardButton {
    grid-area: action;
    justify-self: center;
}

.power__selectionBack {
    display: none;
}

.power__selectionBack {
    display: none;
}


@include landscape() {
    .power {
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 3fr 4fr;
        grid-template-areas:
            "systems selection"
            "systems hand";
    }
}


@include portrait() {
    .power {
        grid-gap: 0.5em;
        grid-template-rows: 2.5em 0.25em 1em 1fr;
        grid-template-columns: 0.8fr 1.2fr 3fr;
        grid-template-areas:
            "queueSize action action"
            "charge charge charge"
            "systems systems label"
            "systems systems cards";
    }

    .power__handLabel,
    .power__selectionLabel {
        grid-area: label;
    }

    .power__selectionLabel,
    .power__selectionActions {
        display: none;
    }

    .power .powerCardSet {
        flex-direction: column;
        align-items: flex-end;
    }

    .power .power__cardSelection {
        display: none;
        grid-area: cards;
    }

    .power__cardHand {
        grid-area: cards;
    }

    .power__selectionIndicator {
        grid-area: action;
    }

    .power--cardSelection {
        grid-template-areas:
            "queueSize selectionActions selectionActions"
            "charge charge charge"
            "systems systems label"
            "systems systems cards";

        & .power__cardSelection,
        & .power__selectionActions {
            display: flex;
        }

        & .power__cardHand,
        & .power__handLabel,
        & .power__chooseButton,
        & .power__discardButton {
            display: none;
        }

        & .power__discardChoice,
        & .power__selectionLabel,
        & .power__selectionBack {
            display: block;
        }
    }

    .power--systemSelection {
        grid-template-areas:
            "queueSize action action"
            "charge charge charge"
            "systems systems label"
            "systems systems cards";

        & .power__chooseButton {
            display: none;
        }
    }
}