@import '../../general/mixins';

.powerSelectionIndicator {
    display: flex;
    justify-content: space-evenly;
}

.powerSelectionIndicator__queueSize {
    border-radius: 2em;
    font-weight: bold;
    font-size: 1.75em;
    background-color: $colorPrimary;
    color: $backgroundColor;
    padding: 0.1em;
    align-self: center;
    text-align: center;
    width: 1.3em;
}

@include landscape() {
    .powerSelectionIndicator__label {
        display: none;
    }
}