@import '../../general/mixins';

.powerSystemList {
    display: flex;
    justify-content: space-between;

    @include portrait() {
        flex-direction: column;
    }

    @include landscape() {
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-evenly;
    }
}
