@import '../ui/borders';
@import "../ui/breakpoints";
@import '../ui/choice';
@import '../ui/colors';
@import '../ui/layout';

#systemSwitcher {
    height: 3em;
    border-bottom: solid $textColor 1px;
    padding: 0.25em 0.5em 0.5em 0.5em;

    choice {
	    margin: 0em;
    }
}

@include media-size-down(860px) {
    #systemSwitcher[data-numsystems="8"] choice {
        @include choice-dropdown();
    }
}

@include media-size-down(796px) {
    #systemSwitcher[data-numsystems="7"] choice {
        @include choice-dropdown();
    }
}

@include media-size-down(720px) {
    #systemSwitcher[data-numsystems="6"] choice {
        @include choice-dropdown();
    }
}

@include media-size-down(638px) {
    #systemSwitcher[data-numsystems="5"] choice {
        @include choice-dropdown();
    }
}

@include media-size-down(548px) {
    #systemSwitcher[data-numsystems="4"] choice {
        @include choice-dropdown();
    }
}

@include media-size-down(454px) {
    #systemSwitcher[data-numsystems="3"] choice {
        @include choice-dropdown();
    }
}

@include media-size-down(356px) {
    #systemSwitcher choice {
        @include choice-dropdown();
    }
}