@import '../colors';

button {
    cursor: pointer;
    vertical-align: baseline;

    &.confirm {
        border-top-left-radius: $buttonRadius / 5 !important;
        border-bottom-right-radius: $buttonRadius / 5 !important;
        
        &::before {
            content: '';
            display: inline-block;
            overflow: hidden;
            text-align: left;
            vertical-align: top;
            width: 0;
            margin-right: 0;
            transition: width 0.5s;
        }

        &.active {
            background-color: $colorConfirm !important;
            border-color: $colorConfirm !important;
            
            &::before {
                content: 'Confirm:';
                width: 4em;
            }

            &:active {
                background-color: $colorHighlight !important;
                border-color: $colorHighlight !important;
            }
        }
    }

    &.push {
        transition: $elementTransition, border-radius 1s;

        &:active {
            border-radius: 0 !important;
        }
    }

    &.toggle {
        
    }

    &.held {
        border-style: double;
        border-width: 4px;
    }
}

*:not(.buttons), .buttons.separate {
    & > button {
        border-radius: $buttonRadius;
    }
    & > button + button {
        margin-left: 0.5em;
    }
}

.buttons .prompt {
    margin-bottom: 0.5em;
}

.buttons.vertical {
    & > button {
        display: block;
        
        &:first-of-type {
            border-top-left-radius: $buttonRadius;
            border-top-right-radius: $buttonRadius;
        }

        &:last-of-type {
            border-bottom-left-radius: $buttonRadius;
            border-bottom-right-radius: $buttonRadius;
        }
    }
    
    & > button + button {
        border-top-width: 0;
    }
}

.buttons:not(.vertical):not(.separate) {
    & > button {
        &:first-of-type {
            border-top-left-radius: $buttonRadius;
            border-bottom-left-radius: $buttonRadius;
        }

        &:last-of-type {
            border-bottom-right-radius: $buttonRadius;
            border-top-right-radius: $buttonRadius;
        }
    }

    & > button + button {
        border-left-width: 0;
    }
}

.description {
    margin-top: 0.5em;
}

.buttons.menu {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}