$backgroundColor: #333;
$textColor: #ccc;
$fadedColor: #888;
/*
$disabledColor: #666;
$darkBackground: #000;
$lightBackground: #999;
*/

$colorPrimary: #ff7d01;
$colorSecondary: #d09bcf;
$colorTertiary: #9f9bfd;
$colorQuaternary: #d26369;
$colorQuandry: #ffce9c;
$colorConfirm: #de0000;
$colorHighlight: #e0e5f8;

$colorGoodDark: #009900;
$colorGoodLight: #00dd00;
$colorBadDark: #990000;
$colorBadLight: #ff0000;