@import '../../general/mixins';

.sensorSystemCell {
    border-radius: 5%;
}

.sensorSystemCell--unknown {
    background-color: $colorSecondary;
}

.sensorSystemCell:not(.sensorSystemCell--unknown) {
    border: solid grey 1px;
}

.sensorSystemCell--empty {
    background-color: transparent;
}

.sensorSystemCell--hit {
    background-color: $colorBadLight;
    border-color: $colorBadDark;
}

.sensorSystemCell--color1 {
    background-color: orange;
}

.sensorSystemCell--color2 {
    background-color: yellowgreen;
}

.sensorSystemCell--color3 {
    background-color: violet;
}

.sensorSystemCell--color4 {
    background-color: seagreen;
}

.sensorSystemCell--color5 {
    background-color: cadetblue;
}

.sensorSystemCell--color6 {
    background-color: cornflowerblue;
}

.sensorSystemCell--color7 {
    background-color: coral;
}

.sensorSystemCell--color8 {
    background-color: indianred;
}

.sensorSystemCell--color9 {
    background-color: khaki;
}