@import '../../general/mixins';

.sensorSystemTargeting {
    display: grid;
    grid-gap: 0.2em;
    justify-content: center;
    align-content: center;
}

// To keep cells square, this could be made cleverer: portrait and landscape versions, probably using vmin.
@for $i from 5 through 12 {
    .sensorSystemTargeting--size#{$i} {
        grid-template-rows: repeat($i, 1fr);
        grid-template-columns: repeat($i, 1fr);
    }
}