@import '../../general/mixins';

.sensorSystemCell {
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensorSystemCell--unknown {
    background-color: $colorSecondary;
    cursor: pointer;
}

.sensorSystemCell--unknown::before {
    content: '?';
}

.sensorSystemCell:not(.sensorSystemCell--unknown) {
    border: solid grey 1px;
}

.sensorSystemCell--empty {
    background-color: transparent;
}

.sensorSystemCell--hit {
    background-color: $colorBadLight;
    border-color: $colorBadDark;
}

.sensorSystemCell--hit::before {
    content: 'X';
    color: $colorBadDark;
}
