@import '../../general/mixins';

.systemMenuItem {
    display: flex;
    color: $fadedColor;
    align-items: center;
}

.systemMenuItem--selectable {
    color: white;
}

.systemMenuItem__name {
    margin-left: 0.5em;
    width: 8em;
}

.systemMenuItem__health,
.systemMenuItem__power {
    margin-left: 0.5em;
}