@import '../general/mixins';

.system {
    overflow: hidden;
}

.systemWrapper, .systemHelp, .systemOptions, .system {
    flex-basis: 0;
    flex-grow: 1;
}

.systemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.systemWrapper--hidden {
    display: none;
}

.systemOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}