@import '../general/mixins';

.playerList {
    display: flex;
    flex-direction: column;

}

.playerList__item {
    font-weight: bold;
    font-size: 1.2em;
    color: $textColor;
}

.playerList__item--self {
    color: $colorQuaternary;
}