@import 'colors';
@import 'borders';

clicker {
	display: inline-block;
	border: solid #ccc 2px;
	@include border-radius(1.5em);

	text-align: center;
	padding: 0.5em;
	font-size: 1.25em;
	
	margin: 0.1em;
	
	cursor: pointer;

    &.left {
        float:left;
    }
    &.right {
        float:right;
    }

    &:not(.disabled):active, &.held, &.enabled:not(.disabled) {
	    color: $backgroundColor;
	    background-color: #ccc;
    }

    &[type="toggle"] {
	    border-style: dotted;

        &.enabled:not(.disabled) {
	        border-style: solid;
        }
    }

    &[type="held"] {
	    border-width: 5px;
	    border-style: double;
    }

    &.held, &[type="confirm"]:not(.primed):active {
	    color: $backgroundColor !important;
    }

    &[type="confirm"] {
        @include border-radius(0.25em 1.25em 0.25em 1.25em);

        &.primed {
            &:hover {
	            background-color: $btnColorConfirm;
	            border-color: $btnColorConfirm;
	            color: $backgroundColor;
            }

            &:active {
	            background-color: $backgroundColor !important;
	            color: $btnColorConfirm;
            }
            &::before {
	            content: "Confirm: ";
            }
            &::after {
	            content: "?";
            }
        }
    }
}