@import 'colors';
@import 'borders';
@import 'breakpoints';

choice, buttonGroup {
	display: block;
	position: relative;
    
    &:not(.inline) {
	    margin: 2em;
    }
}

buttonGroup[data-caption]::before, choice[data-caption]::before {
	content: attr(data-caption);
	color: $textColor;
	position: absolute;
    bottom: -1em;
    left: 0.5em;
}

choice prompt, choice description {
	display:block;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}

choice description {
    padding-left: 1em;

    &::before {
        content: "\2022  ";
    }
}

choice clicker, .table clicker, buttongroup.inline clicker {
	@include border-radius(0);
}

choice clicker.expand {
    display: none;
}

row > clicker {
	margin: 0em;
}

choice clicker:first-of-type, choice clicker.first,
.table clicker:first-of-type, .table clicker.first,
buttongroup.inline clicker:first-of-type, buttongroup.inline clicker.first {
    @include border-radius-left(1.5em);
}

choice clicker:last-of-type, choice clicker.last,
.table clicker:last-of-type, .table clicker.last,
buttongroup.inline clicker:last-of-type, buttongroup.inline clicker.last {
	@include border-radius-right(1.5em);
}

@mixin choice-vertical() {
    clicker {
        display: block;
        
        &:first-child, &.first {
            @include border-radius-top(1.5em);
            @include border-radius-bottom-left(0);
        }
        &:last-child, &.last {
            @include border-radius-bottom(1.5em);
            @include border-radius-top-right(0);
        }
    }

    row {
        display: inline;
    }
}

@mixin choice-dropdown() {
    &:not(.forceVertical) clicker {
        &:not(.enabled) {
            display: none;
        }
        &.expand {
            display: inline-block;
            min-width: 2.5em;
        }
        &.enabled:not(.expand) {
            @include border-radius-left(0);
            @include border-radius-right(1.5em);
        }
    }

    &.forceVertical {
        overflow: visible;
        width: 15em;
        z-index: 100;

        clicker.first {
            @include border-radius-top(0);
        }

        clicker:not(.enabled) {
            display: block;
            background-color: $backgroundColor;
        }
    }
}

@include media-size-down(sm) {
    choice.smVertical, table.smVertical {
        @include choice-vertical();
    }
    choice.smDropdown {
        @include choice-dropdown();
    }
}

@include media-size-down(xs) {
    choice.xsVertical, table.xsVertical {
        @include choice-vertical();
    }
    choice.xsDropdown {
        @include choice-dropdown();
    }
}

choice.forceVertical, table.forceVertical {
    @include choice-vertical();
}

choice.forceDropdown {
    @include choice-dropdown();
}