@import 'breakpoints';

spacer.adaptiveVerticalMinWidth {
    @for $i from 5 through 15 {
        &[data-width="#{$i}em"] {
            min-width: #{$i}em;
        }
    }
}

@mixin nopad() {
    margin: 0 !important;
    padding: 0 !important;
}