@import 'breakpoints';

$systemSwitcherHeight: 3em;

@mixin clearSystemSwitcher() {
    &:before {
        display: block;
        content: '';
        height: $systemSwitcherHeight + .75em;
    }
}

@mixin adaptive-layout($tableCutoffSize) {
    width: 100vw;
    height: 100vh;

    spacer.adaptiveVerticalMinWidth {
        @for $i from 5 through 15 {
            &[data-width="#{$i}em"] {
                min-width: #{$i}em;
            }
        }
    }

    & > section {
        &:first-of-type { @include clearSystemSwitcher(); }
        min-height: 20em;
        padding: 1em;
    }

    @include media-size-down($tableCutoffSize) {
        display: table;

        & > section {
            padding: 0;
            padding-top: 0.5em;
            min-height: initial;
        }
    
        @include landscape {
            & > section {
                @include clearSystemSwitcher();
                display: table-cell;

                &.full { width: 100vw; }
                &.xlarge  { width: 80vw; }
                &.large  { width: 67vw; }
                &.med-large { width: 60vw; } /* unused */
                &.medium { width: 50vw; } /* unused */
                &.med-small { width: 40vw; }
                &.small  { width: 33vw; }
                &.xsmall  { width: 20vw; }
            }

            spacer.adaptiveVerticalMinWidth {
                min-width: initial !important;
            }
        }

        @include portrait {
            & > section {
                display: block;

                &.full { height: 100vh; }
                &.xlarge  { height: 85vh; }
                &.large  { height: 75vh; }
                &.med-large { height: 60vh; } /* unused */
                &.medium { height: 50vh; } /* unused */
                &.med-small  { height: 42.5vh; }
                &.small  { height: 25vh; }
                &.xsmall  { height: 15vh; }
            }
        }
    }
    
    @include landscape() {
        & > section {
            margin-top: 2em;
            @include media-size(xs) {
                margin-top: 1em;
            }
        }
    }
}

@mixin nopad() {
    margin: 0 !important;
    padding: 0 !important;
}