@import 'breakpoints';

screen#gameActive {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-wrap: nowrap;
    align-items: stretch;
       
    & > #systemSwitcher {
        flex-grow: 0;
        flex-shrink: 0;
    }

    & > system {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
	    overflow: hidden;

        @include landscape() {
            flex-direction: row;
        }

        @include portrait() {
            flex-direction: column;
        }
        
        & > section {    
            flex-grow: 1;
            flex-shrink: 1;
            margin: 0.5em;

            &.toEdge {
                margin: 0;
            }

            &.noGrow {
                flex-grow: 0;
                flex-shrink: 0;
            }

            &.fillMe {
                display: flex;
                align-items: stretch;
                align-content: stretch;
                & > * {
                    flex-grow: 1;
                    flex-shrink: 1;
                    align-self: stretch;
                }
            }

            & > * {
                vertical-align: top;
            }
        }
    }
}