$backgroundColor: #333;
$textColor: #ccc;
/*
$disabledColor: #666;
$fadedColor: #777;
$darkBackground: #000;
$lightBackground: #999;
*/

$btnColorPrimary: #f90;
$btnColorSecondary: #c9c;
$btnColorTertiary: #99f;
$btnColorQuaternary: #c69;
$btnColorQuandry: #fc9;
$btnColorConfirm: #f66;