@import 'colors';

p {
	margin: 0.65em;
    white-space: pre-line;
}

h1 {
    font-weight: bold;
    margin: 0;

    font-size: calc(1.2rem + 1vw);
}

p, label, button, input {
    font-size: calc(1rem + 0.25vw);
}

fieldset {
    padding: 1em;
    border-color: $colorQuandry;
}

legend {
    color: $colorQuandry;
    padding: 0 0.5em;
}