@mixin portrait() {
    @media (orientation:portrait) {
        @content;
    }
}

@mixin landscape() {
    @media (orientation:landscape) {
        @content;
    }
}

.splitEqual {
    display: flex;

    @include portrait() {
        flex-direction: column;
    }
    @include landscape() {
        flex-direction: row;
    }

    justify-content: space-around;
    align-items: stretch;

    & > * {
        flex-basis: 0;
        flex-shrink: 1;
        flex-grow: 1;
    }
}