@mixin center($vertical) {
    display: flex;
    flex-direction: column;
    align-items: center;
    @if $vertical == true {
        justify-content: center;
    }
    @else {
        justify-content: flex-start;
    }
}

@mixin fullscreen() {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
	background-color: $backgroundColor; margin: 0; padding: 0;
}

@mixin portrait() {
    @media (orientation:portrait) {
        @content;
    }
}

@mixin landscape() {
    @media (orientation:landscape) {
        @content;
    }
}

@mixin nolist() {
    list-style: none;
    padding-left: 0;
}