@import 'mixins';

.progressBar {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    border-radius: 0.25em;
    overflow: hidden;
}

.progressBar__indicator {
    background-color: $colorSecondary;
    text-align: center;
    transition: width 0.5s;
}

.progressBar__remainder {
    flex-grow: 1;
    background-color: $colorSecondary;
    opacity: 0.15;
}

.progressBar--text {
    height: 1.8em;

    & .progressBar__indicator {
        color: $colorHighlight;
        overflow: visible;
        padding-top: 0.35em;
    }
}