@import '../../general/mixins';

.gridCell {
    background-color: grey;
    border-radius: 3px;
    grid-column-end: auto;
    grid-row-end: auto;
}

.gridCell--inList {
    margin: 1em 0 1em 0;
    width: 10vmin;
    height: 10vmin;
}

.gridCell--selected {
    outline: solid #ffcc00 2vmin;
    border-radius: 0;
}

.gridCell--reactor, {
    background-color: #cc6600;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gridCell--system {
    background-color: #0099cc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &.gridCell--rotated {
        flex-direction: column;

        & .gridCell__sysname {
            transform: rotate(90deg);
            transform-origin: center;
        }
    }
}

.gridCell__sysname {
    flex-basis: 2px;
}

.gridCell__power {
    flex-basis: 1px;
    font-size: 1.5em;
}

.gridCell__power::after {
    content: '%';
}

.gridCell__heat::before {
    content: 'heat: ';
}

.gridCell__heatRate::before {
    content: 'rate: ';
}


.gridCell--broken {
    background-color: #ff0000;
}