@import '../../general/mixins';

.power {
    display: grid;
    grid-gap: 1em;
    
    @include landscape() {
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 3fr 4fr;
        grid-template-areas:
            "systems selection"
            "systems hand";
    }

    @include portrait() {
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "systems"
            "hand"
            "selection";
    }
}

.powerSystemList {
    grid-area: systems;
}

.powerCardChoice {
    grid-area: selection;
}

.powerCardHand {
    grid-area: hand;
}