<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make It So</title>
    <base href="" />
</head>
<body>
    <div id="client-root">
        <div class="screen screen--centered">
            <h1 class="screen__heading">Loading...</h1>
        </div>
    </div>
<% for (let i = 0; i < htmlWebpackPlugin.options.vendorFiles.length; ++i) { %>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.vendorFiles[i] %>"></script>
<% } %>
</body>
</html>
