@import 'ui/colors';
@import 'ui/borders';
@import 'ui/breakpoints';
@import 'ui/layout';

body {
	background-color: $backgroundColor; margin: 0; padding: 0;
	color: $textColor;
	font: 14px Helvetica, Arial, sans-serif;
	
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
    text-align: center;
}

screen {
	min-height: 100%;
    margin: 0 auto;
    display: block;
    text-align: initial;

    @include media-size-down(md) {
        width: 100%;
    }
    @include media-size(lg) {
        width: 950px;
    }
    @include media-size(xl) {
        width: 1100px;
    }

    &#gameActive {
        width: 100%;
    }
}

p {
	margin: 0.65em;
}

@import 'ui/buttons';

.disabled {
	cursor: not-allowed;
	color: $disabledColor !important;
}

.inline {
	display: inline-block;
}

.inline.table {
	display: inline-table;
}

row section, touchArea {
	display: block;
}

@import 'ui/choice';

.table row:not(.rounded):not(:last-of-type) * {
	@include border-radius-bottom(0);
}

.table row:not(.rounded):not(:first-of-type) * {
	@include border-radius-top(0);
}

.table {
	display: table;
	border-spacing: 0.25em;
	border-collapse: separate;
}

.table row {
	display: table-row;
}

.table row spacer {
	text-align: center;
	font-size: 1.25em;
}

.table row * {
	display: table-cell;
}

.showKeys clicker[data-hotkey] {
	position: relative;
	color: transparent !important;
}

.showKeys clicker[data-hotkey]:before {
	content: "[" attr(data-hotkey) "] ";
	color: $textColor;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	padding-top: 0.5em;
	text-align: center;
	vertical-align: middle;
}

@import 'ui/buttoncolors';
@import 'ui/toucharea.scss';

#error {
	white-space: pre-line;
	position:relative;
	top: 1em;
	left: 1em;
}

@import 'setup/setup';

system {
	overflow: hidden;
}

output {
    display: block;
	white-space: pre-line;
	padding: 0.75em;
	background-color: $darkBackground;
	border: solid 1px grey;

    row {
        display: block;

        @include media-size-down(sm) {
            display: inline-block;
            padding: 1em;
        }
    }
}

html, body, #gameRoot, #gameRoot > div, screen {
    height: 100%;
}

@import 'game/systemswitcher';

@import 'game/ViewScreen/viewscreen';