@import '../../general/mixins';

.fillPuzzleCell {
    margin: 0.3em;
}

.fillPuzzleCell--unfilled {
    margin: 0.3em;
    background-color: $fadedColor;
}

.fillPuzzleCell--start,
.fillPuzzleCell--filled {
    background-color: $colorPrimary;
}

.fillPuzzleCell--empty {
    cursor: not-allowed;
}

.fillPuzzleCell--extendUp {
    margin-top: 0;
}

.fillPuzzleCell--extendDown {
    margin-bottom: 0;
}

.fillPuzzleCell--extendLeft {
    margin-left: 0;
}

.fillPuzzleCell--extendRight {
    margin-right: 0;
}
