@import '../../general/mixins';

.weapons__solutionListItem {
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: $fadedColor;
    color: white;
    cursor: pointer;
}

.weapons__solutionListItem + .weapons__solutionListItem {
    margin-top: 1em;
}

@keyframes vulnerability {
    from { color: $colorGoodLight; }
    to { color: white; }
}

.solutionInfo--vulnerability .solutionInfo__name {
    animation-name: vulnerability;
    animation-duration: 0.5s;
    animation-direction: alternate;
}

.solutionInfo__name {
    font-weight: bold;
}

.solutionInfo__value {
    font-weight: bold;
}