@import '../../general/mixins';

.targetingElement {
    width: 5%;
    height: 5%;
    border-radius: 2%;
    transition: background-color 1s;
    box-sizing: border-box;
}

.targetingElement--static {
    position: relative;
    width: 2em; height: 2em;
}

.targetingElement:not(.targetingElement--static) {
    position: absolute;
    cursor: pointer;
    animation-timing-function: ease-in-out, ease-in-out, linear;
    user-select: none;
}


// colors

.targetingElement--red {
    border-color: red;
    background-color: red;
}

.targetingElement--yellow {
    border-color: sandybrown;
    background-color: sandybrown;
}

.targetingElement--green {
    border-color: green;
    background-color: green;
}

.targetingElement--blue {
    border-color: cornflowerblue;
    background-color: cornflowerblue;
}

.targetingElement--orange {
    border-color: orangered;
    background-color: orangered;
}

.targetingElement--purple {
    border-color: purple;
    background-color: purple;
}

.targetingElement--lime {
    border-color: lime;
    background-color: lime;
}

.targetingElement--teal {
    border-color: teal;
    background-color: teal;
}

.targetingElement--brown {
    border-color: saddlebrown;
    background-color: saddlebrown;
}

.targetingElement--fuchsia {
    border-color: fuchsia;
    background-color: fuchsia;
}


// shapes

.targetingElement--square {
    border-radius: 0;
}

.targetingElement--circle {
    border-radius: 100%;
}


// styles
.targetingElement--outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}

.targetingElement--dashed {
    border-width: 1px;
    border-style: dotted;
    background-color: transparent;
}


// rotation animations

.targetingElement--clockwise {
    animation-name: targetingElement__anim--leftRight, targetingElement__anim--upDown, targetingElement__anim--clockwise;
}

.targetingElement--anticlockwise {
    animation-name: targetingElement__anim--leftRight, targetingElement__anim--upDown, targetingElement__anim--anticlockwise;
}


// states

.targetingElement--selected {
    background-color: white;
}

.targetingElement--removing {
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}


// movement key frames

@keyframes targetingElement__anim--leftRight {
    from {
        left: 1%;
    }
    50% {
        left: 94%;
    }
    to {
        left: 1%;
    }
}

@keyframes targetingElement__anim--upDown {
    from {
        top: 1%;
    }
    50% {
        top: 94%;
    }
    to {
        top: 1%;
    }
}


// rotation key frames

@keyframes targetingElement__anim--clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes targetingElement__anim--anticlockwise {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}