@import '../../general/mixins';

.targetOverview {
    display: flex;
    flex-direction: column;
}

.targetOverview__value {
    font-weight: bold;
}

.targetOverview__actions {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.targetOverview__graphics {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 1em 0;
}

.targetOverview__orientation {
    flex-grow: 1;
}

.targetOverview--firing > .targetOverview__actions {
    flex-grow: 1;   
}

.targetOverview__facingVal--best {
    color: $colorGoodLight;
}

.targetOverview__facingVal--worst {
    color: $colorBadLight;
}