@import '../../general/mixins';

.weapons {
    display: grid;
    grid-gap: 0.5em;
}

.weapons--targetSelection {
    @include landscape() {
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "map list";
    }

    @include portrait() {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "map"
            "list";
    }
}

.weapons--solutionSelection {
    @include landscape() {
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 4fr;
        grid-template-areas: "info controls";
    }

    @include portrait() {
        grid-template-rows: 3fr 5fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "info"
            "controls";
    }
}


.weapons--firingSolution {
    @include landscape() {
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 4fr;
        grid-template-areas: "info controls";
    }

    @include portrait() {
        grid-template-rows: 3fr 8fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "info"
            "controls";
    }
}

.weapons__targetSelect {
    grid-area: map;
}

.weapons__targetList {
    grid-area: list;
}

.weapons__targetOverview {
    grid-area: info;
}

.weapons__solutionList,
.weapons__targeting {
    grid-area: controls;
}