@import '../ui/colors';

.screen {
    flex-grow: 1;
    padding: 1em;
    overflow-y: auto;
}

#error, #settings {
    @include center(true);
}

#error {
    white-space: pre-line;
}

#roleSelection {
    @include center(false);

    & > .content {
        @include center(false);
    }

    .systems .inUse {
        opacity: 0.5;
        text-decoration: line-through;
    }
}

#setup {
    @include center(false);
}

#game {
    overflow-y: hidden;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;

    > .systemHeader {
        flex-shrink: 0;
        flex-grow: 0;
        height: 2em;
        background-color: $colorTertiary;
        margin: 0.3em 0.2em 1em 0.2em;
        padding: 0 0.75em;
        border-radius: 1em;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;

        > .nameWrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            & > *:not(:first-child) {
                margin-left: 0.5em;
            }
        }

        h1.name {
            font-size: 2em;
            background-color: $backgroundColor;
            padding: 0em 0.25em;
            margin-left: 0.5em;
            align-self: stretch;
        }

        svg.icon.disabled {
            stroke: #bbb !important;
            cursor: not-allowed;
        }

        .separator {
            width: 2px;
            background-color: $backgroundColor;
        }
    }
    > :not(.systemHeader) {
        flex-grow: 1;
    }
}