@import '../ui/colors';

#error, #settings {
    @include center(true);
}

#roleSelection {
    @include center(false);

    & > .content {
        @include center(false);
    }

    .systems .inUse {
        text-decoration: line-through;
    }
}

#game {
    overflow-y: hidden;
    padding: 0;
}