@import '../ui/breakpoints';
@import '../ui/colors';

.playerIdentifier {
	font-size: 10em;
	text-align: center;
    @include media-size-up(md) {
	    font-size: 20em;
        display: inline-block;
    	width: 40%;
        vertical-align: top;
    }
}

#systemList {
	margin: 0;
	padding: 0;
	list-style: none;
    @include media-size-down(sm) {
        padding-left: 1em;
    }
    @include media-size-up(md) {
	    display: inline-block;
	    width:60%;
    }
}

#systemList li {
	font-size: 2em;
	padding: 0.5em 0 0.5em 1em;
	cursor: pointer;
    
    @include media-size-down(xs) {
        font-size: 1.5em;
    }

    &.selected {
	    text-decoration: underline;
    }

    &.taken {
	    color: $fadedColor;
	    border-color: $fadedColor;
    }
}

#systemList .prompt {
	padding-left: 0em;
}