@use '../assets/colors';

.outer {
    display: flex;
    justify-content: center;
    background-color: black;
}

.inner {
    max-width: calc(100vh * 2 / 3);
    width: 100vw;
    height: 100vh;
    background-color: colors.$background;
}