@import '../../ui/borders';
@import '../../ui/breakpoints';
@import '../../ui/layout';

#weapons {
    & > section.target {
        @include landscape() {
            width: 25em;
        }
        @include portrait() {
            height: 8em;
        }

        display: flex;
        flex-direction: column;
    }

    buttongroup.spread {
        display: flex;

        > * {
            flex-grow: 1;
            flex-basis: 5em;
        }
    }

    section.actions {
        flex-grow: 1;
    }

    section.dice {
        display: flex;
        height: 5em;

        > * {
            flex-grow: 1;
            margin: 0.1em;
            cursor: pointer;

            > * {
                border-radius: 0.3em;
            }
        }
    }
}