.buttonset {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    &.buttonset--vertical {
        flex-direction: column;
        max-width: 20em;
        
        > .button {
            &:not(:first-of-type) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &:not(:last-of-type) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        
        > .button:not(.button--fullBorder):not(:last-child) {
            border-bottom-width: 0;
        }
        
        > .button--fullBorder + button {
            border-top-width: 0;
        }
    }

    &:not(.buttonset--vertical) {
        > .button {
            &:not(:first-of-type) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:last-of-type) {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }

        > .button:not(.button--fullBorder):not(:last-child) {
            border-right-width: 0;
        }

        > .button--fullBorder + button {
            border-left-width: 0;
        }
    }

    .buttonset {
        justify-content: stretch;

        & > .button, & > .spacer {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}