@import 'mixins';

.field {
    display: flex;
    align-items: baseline;

    @media(max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.field__label {
    font-weight: bold;
    min-width: 6em;
    white-space: pre;
    margin-right: 1em;
}

.field__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.field__content--centered {
    align-items: center;
}

.field + .field {
    margin-top: 1.5rem;
}