@import 'mixins';

.screen {
    max-height: calc(100vh - #{$clientPadding * 2});
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.screen--centered {
    justify-content: center;
    align-items: center;
}

.screen--pageLayout {
    justify-content: flex-start;

    height: unset;
    max-height: unset;
    overflow: unset;
    overflow-y: auto;

    width: calc(100vw - 2em);
    max-width: 800em;

    @media (min-width: 500px) {
        width: calc(400px + 20vw);
    }

    @media(max-width: 500px) {
        & > div[role="group"] {
            flex-direction: column;
        }

        label {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

.screen__heading {
    font-weight: bold;
    font-size: 1.5rem;
}