@import 'mixins';

.screen {
    width: calc(100vw - #{$clientPadding * 2});
    height: calc(100vh - #{$clientPadding * 2});
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.screen--centered {
    justify-content: center;
    align-items: center;
}

.screen--pageLayout {
    justify-content: flex-start;

    height: unset;
    overflow: unset;
    overflow-y: auto;

    width: calc(100vw - #{$clientPadding * 4});
    max-width: 800em;

    @media (min-width: 500px) {
        width: calc(400px + 20vw);
    }
}

.screen__heading {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.screen--gameActive {
    justify-content: flex-start;
    align-content: stretch;
}