@import '../../general/mixins';
@import './KenKenCellBorders';

.kenken {
    display: grid;
    border-right: $thickBorder;
    border-bottom: $thickBorder;
    font-size: 1.75em;
    background-color: $colorTertiary;
    color: black;
}

.kenken--size0 {
    visibility: hidden;
}

@for $i from 3 through 9 {
    .kenken--size#{$i} {
        grid-template-rows: repeat($i, 1fr);
        grid-template-columns: repeat($i, 1fr);
    }
}