@import '../../general/mixins';
@import './KenKenCellBorders';

.kenkenCell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.kenkenCell--invalidRow:before {
    // horizontal strikethrough
    border-top: 0.2em solid $colorBadLight;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.kenkenCell--invalidCol:after {
    // vertical strikethrough
    border-left: 0.2em solid $colorBadLight;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 0; left: 50%; right: 0; bottom: 0;
    height: 95%;
    z-index: -1;
}

.kenkenCell--invalidGroup {
    background-color: #fcc;
    color: $colorBadDark;
}

.kenkenCell__target {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    font-size: 0.67em;
}

.kenkenCell--thickLeft {
    border-left: $thickBorder;
}

.kenkenCell--thinLeft {
    border-left: $thinBorder;
}

.kenkenCell--thickTop {
    border-top: $thickBorder;
}

.kenkenCell--thinTop {
    border-top: $thinBorder;
}
