@import '../../general/mixins';
@import './KenKenCellBorders';

.kenkenCell {
    border: dashed 1px black;
    position: relative;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kenkenCell--invalid {
    background-color: #fcc;
    color: $colorBadDark;
}

.kenkenCell__target {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    font-size: 0.5em;
}

.kenkenCell--thickLeft {
    border-left-style: $thickBorder;
}

.kenkenCell--thinLeft {
    border-left-style: $thinBorder;
}

.kenkenCell--thickTop {
    border-top-style: $thickBorder;
}

.kenkenCell--thinTop {
    border-top-style: $thinBorder;
}
