@import '../../general/mixins';

.warp {
    display: grid;

    @include landscape() {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "main controls"
        "main numbers";
    }

    @include portrait() {
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "main main"
            "controls numbers";
    }
}

.warp__sensorMap,
.warp__puzzle {
    grid-area: main;
}

.warp__toolbar {
    grid-area: controls;
}

.warp__numbers {
    grid-area: numbers;
}