#helm.buttonInput {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @include portrait() {
        flex-direction: column;
    }

    fieldset.rotation, fieldset.translation {
        width: 14em;
    }
}