@import '../../ui/borders';
@import '../../ui/breakpoints';
@import '../../ui/layout';
@import '../../ui/colors';

#power {
    & > section.levels {
        @include landscape() {
            width: 12em;
        }
        @include portrait() {
            height: 6em;
        }

        clicker {
            cursor: initial;
            color: $btnColor1 !important;

            .amount {
                font-weight: bold;
            }
        }
    }

    & > section.cardSelect, section.cardLibrary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & > p {
            flex-grow: 0;
            align-self: baseline;
        }

        & > div {
            display: flex;
            & > card {
                flex-grow: 1;
            }
        }
    }

    & > section.cardSelect {
        flex-grow: 2;

        & > div {
            flex-grow: 1;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: stretch;

            @include landscape() {
                flex-direction: column;
            }
            @include portrait() {
                flex-direction: row;
            }
        }
    }

    & > section.cardLibrary {
        flex-grow: 3;
        
        & > div {
            flex-grow: 1;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
        }
    }

    card {
        background-color: #808080;
        border: solid 1px white;
        margin: 0.5em;
        padding: 0.75em;
        cursor: pointer;
        position: relative;

        > name {
            font-size: 1.25em;
            display: block;
            color: white;
        }

        > description {
            white-space: pre-wrap;
        }
        > cost {
            position: absolute;
            top: 0;
            right: 0.25em;
            font-size: 1.75em;
        }

        &.fade {
            opacity: 0.7;
        }

        &.highlight {
            box-shadow: 0 0 15px 5px #0cf;
        }

        &:hover:not(.highlight) {
            box-shadow: 0 0 15px 0px #ccf;
        }

        &:active {
            box-shadow: 0 0 15px 5px #ccf;
        }
    }

    card cost, .auxPowerLevel {
        color: #ffd800;

        &::before {
            content:'\26A1';
        }
    }

    .bigValue {
        font-size: 1.75em;
    }
}