@import '../../ui/borders';
@import '../../ui/breakpoints';
@import '../../ui/layout';

#power {
    & > section.aux {
        @include landscape() {
            width: 12em;
        }
        @include portrait() {
            height: 6em;
        }
    }

    & > section.cardSelect {
        flex-grow: 2;
    }

    & > section.cardLibrary {
        flex-grow: 3;
    }
}