@import '../../general/mixins';

.damageSystem {
    display: flex;
    padding: 0.5em;
    margin: 0.5em;
    border: solid grey 1px;
}

.damageSystem__name {
    font-size: 1.5em;
    margin: 0;
    flex-grow: 1;

    text-align: center;
}

.damageSystem__health {
    grid-area: health;
    color: #cccccc;
}

.damageSystem__health {
    font-size: 1.5em;
    justify-self: right;
    padding-right: 0.25em;
}

.damageSystem--online {
    opacity: 0.8;
}

.damageSystem--selected {
    border-color: white;
}

.damageSystem--destroyed .damageSystem__health {
    color: #990000;
}

.damageSystem--severelyDamaged .damageSystem__health {
    color: #ff0000;
} 

.damageSystem--damaged .damageSystem__health {
    color: #ff9999;
}

.damageSystem--perfect .damageSystem__health {
    color: #ffffff;
}