@import '../../general/mixins';

.damageSystem {
    display: flex;
    padding: 0.5em 0.5em 0.5em 0.1em;
    margin: 0.5em;
    border: solid grey 1px;
    align-items: center;
    border-radius: 0.2em;
}

.damageSystem__name {
    font-size: 1.5em;
    margin: 0 0.5em 0 0;
    flex-grow: 1;

    text-align: center;
}

.damageSystem__power {
    color: $colorQuandry;
}

.damageSystem--offline .damageSystem__power {
    visibility: hidden;
}

.damageSystem__health {
    grid-area: health;
    color: #cccccc;
}

.damageSystem__health {
    font-size: 1.5em;
    justify-self: right;
    padding-right: 0.25em;
}

.damageSystem--selected {
    border-color: $colorHighlight;
}

.damageSystem--destroyed .damageSystem__health {
    color: #990000;
}

.damageSystem--severelyDamaged .damageSystem__health {
    color: #ff0000;
} 

.damageSystem--damaged .damageSystem__health {
    color: #ff9999;
}

.damageSystem--perfect .damageSystem__health {
    color: #ffffff;
}

.damageControl--selected .damageSystem:not(.damageSystem--selected) {
    opacity: 0.6;
}