@import '../../general/mixins';

.damageControl {
    display: grid;
    grid-gap: 1em;
    
    @include landscape() {
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 5fr 3fr;
        grid-template-areas:
            "systems dice"
            "systems actions";
    }

    @include portrait() {
        grid-template-rows: 4fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "systems"
            "dice"
            "actions";
    }
}

.damageControl__systemList {
    grid-area: systems;
    display: flex;
    flex-wrap: wrap;

    align-content: flex-start;
}

.damageControl__diceList {
    grid-area: dice;
    display: grid;
    grid-gap: 0.75em;
    
    grid-template-rows: 6vw;
    grid-template-columns: 6vw 6vw 6vw 6vw 6vw;

    justify-content: center;
    align-content: center;
}

.damageControl__diceActions {
    grid-area: actions;
    font-size: 2em;
    text-align: center;
}

.damageControl__diceActions > * + * {
    margin-left: 1em;
}