@import '../../general/mixins';

.helm--buttonInput {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    align-content: space-evenly;
    flex-wrap: wrap;
    
    @include portrait() {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    font-size: 3vw;
    @include landscape() {
        @media (max-height: 58vw) {
            font-size: 5.1724vh; // 0.03 / 0.58 = 0.051724

            & > * {
                min-width: 34vw; // don't go so small that 3 items fit in one row
            }
        }
    }
    @include portrait() {
        font-size: 2.5vh;

        @media (max-width: 40vh) {
            font-size: 6.25vw; // 0.025 / 0.4 = 0.0625
        }
    }
}

.helm--touchInput {
    display: grid;

    grid-gap: 3vmin 3vmin;

    @include landscape() {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "info rotation speed";
    }

    @include portrait() {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "rotation rotation"
            "info speed";
    }
    
    font-size: 3vw;
    // TODO: portrait & landscape font-size calculations
}

.helm--touchInput__info {
    grid-area: info;
    height: 15em;
}

.helm--touchInput__rotation {
    grid-area: rotation;
    height: 15em;
}

.helm--touchInput__speed {
    grid-area: speed;
    height: 15em;
}

.fieldGroup {
    position: relative;
    border: solid $colorQuandry 2px;
    padding: 0.5em;
    z-index: 0;
    
    box-sizing: border-box;
}

.fieldGroup--buttons {
    width: 15em;
}

.fieldGroup--unpadded {
    padding-top: 0;
    padding-bottom: 0;
}

.fieldGroup--3x3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.fieldGroup--3x1 {
    height: 3.6em;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.fieldGroup--1x3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.fieldGroup--1x1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.fieldGroup__label {
    position: absolute;
    top: -0.5em;
    left: 0.75em;
    background-color: $backgroundColor;
    padding: 0 0.1em;
    line-height: 1em;
    z-index: 2;
}

.fieldGroup__background {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.fieldGroup--3x3__topLeft { 
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.fieldGroup--3x3__topMid { 
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.fieldGroup--3x3__topRight { 
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.fieldGroup--3x3__midLeft { 
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.fieldGroup--3x3__center { 
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.fieldGroup--3x3__midRight { 
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.fieldGroup--3x3__botLeft { 
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.fieldGroup--3x3__botMid { 
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.fieldGroup--3x3__botRight { 
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.readout {
    font-size: 0.65em;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.readout__smaller {
    font-size: 0.65em;
}

.readout--label {
    font-style: italic;
}

.readout--value {
    font-weight: bold;
    color: $colorQuandry;
}