@import '../../general/mixins';

.helm--buttonInput {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    align-content: space-evenly;
    flex-wrap: wrap;
    
    @include portrait() {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    font-size: calc(1em + 1vw); // TODO: account for height not fitting, width not fitting in various sizes
}

.helm--buttonInput__speed {
    padding: 1em;
    border-color: $colorQuandry;
}

.fieldGroup {
    position: relative;
    border: solid $colorQuandry 2px;
    padding: 0.5em;
    z-index: 0;
    
    width: 15em;
    box-sizing: border-box;
}

.fieldGroup--unpadded {
    padding-top: 0;
    padding-bottom: 0;
}

.fieldGroup--3x3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.fieldGroup--3x1 {
    height: 3.6em;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.fieldGroup__label {
    position: absolute;
    top: -0.5em;
    left: 0.75em;
    background-color: $backgroundColor;
    padding: 0 0.1em;
    line-height: 1em;
    z-index: 2;
}

.fieldGroup__background {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.fieldGroup--3x3__topLeft { 
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.fieldGroup--3x3__topMid { 
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.fieldGroup--3x3__topRight { 
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.fieldGroup--3x3__midLeft { 
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.fieldGroup--3x3__center { 
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.fieldGroup--3x3__midRight { 
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.fieldGroup--3x3__botLeft { 
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.fieldGroup--3x3__botMid { 
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.fieldGroup--3x3__botRight { 
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.readout {
    font-size: 0.65em;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.readout__smaller {
    font-size: 0.65em;
}

.readout--label {
    font-style: italic;
}

.readout--value {
    font-weight: bold;
    color: $colorQuandry;
}