$backgroundColor: #333;
$textColor: #ccc;
$disabledColor: #666;
$fadedColor: #777;
$darkBackground: #000;
$lightBackground: #999;

$btnColor1: #f90;
$btnColor2: #c9c;
$btnColor3: #c66;
$btnColor4: #99c;
$btnColor5: #fc9;
$btnColor6: #99f;
$btnColor7: #f96;
$btnColor8: #c69;