body {
	background-color: #333; margin: 0; padding: 0;
	color: #ccc;
	font: 14px Helvetica, Arial, sans-serif;
	
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body > div {
	width: 100%;
	height: 100%;
}

p {
	margin: 0.65em;
}

clicker, heldClicker, toggleClicker, confirmClicker {
	display: inline-block;
	border: solid #ccc 2px;
	border-radius: 2em;

	text-align: center;
	padding: 0.5em;
	font-size: 1.25em;
	
	cursor: pointer;
}

clicker:not(.disabled):active, heldClicker.held, toggleClicker:not(.disabled):active, confirmClicker:not(.disabled):active {
	color: #333;
	background-color: #ccc;
}

toggleClicker {
	border-style: dotted;
}

toggleClicker.enabled {
	color: #333;
	background-color: #aaa;
	border-style: solid;
}

heldClicker {
	border-width: 5px;
	border-style: double;
}

confirmClicker {
	border-radius: 0.25em 1.25em 0.25em 1.25em;
}

confirmClicker.primed {
	background-color: #f66;
	border-color: #f66;
	color: #333;
}

confirmClicker.primed:active {
	background-color: #000;
	color: #f66;
}

confirmClicker.primed::before {
	content: "Confirm: ";
}

confirmClicker.primed::after {
	content: "?";
}

.disabled {
	cursor: not-allowed;
	color: #666;
}

choice, buttonGroup {
	margin: 2em;
	display:block;
}

choice prompt, choice description {
	display:block;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}








#errorMsg {
	white-space: pre-line;
}

#systemSelect .playerIdentifier {
	font-size: 20em;
	float: left;
	width: 40%;
	height: 100%;
	text-align: center;
}

#systemList {
	float:left;
	width:60%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#systemList li {
	font-size: 2em;
	padding: 0.5em;
}

#systemList .prompt {
	padding-left: 0em;
	padding-bottom: 1em;
}

#systemList li.option {
	cursor: pointer;
}

#systemList li.option.selected {
	text-decoration: underline;
}

#systemList li.option.taken {
	color: #999;
	border-color: #999;
}

#btnSetupGame {
	position: fixed;
	right: 1em;
	bottom: 1em;
}

.btnSetupBack {
	position: fixed;
	left: 1em;
	bottom: 1em;
}

.btnStartGame {
	position: fixed;
	right: 1em;
	bottom: 1em;
}

#gameSetup {
	overflow: auto;
}

/*
@media (max-width: 700px) {
	body {
		font-size: 1em;
	}
}
*/