body {
	background-color: #333; margin: 0; padding: 0;
	color: #ccc;
	font: 14px Helvetica, Arial, sans-serif;
	
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

screen {
	width: 100%;
	height: 100%;
}

p {
	margin: 0.65em;
}

clicker, heldClicker, toggleClicker, confirmClicker {
	display: inline-block;
	border: solid #ccc 2px;
	border-radius: 2em;

	text-align: center;
	padding: 0.5em;
	font-size: 1.25em;
	
	cursor: pointer;
}

clicker:not(.disabled):active, heldClicker.held, toggleClicker:not(.disabled):active, toggleClicker.enabled:not(.disabled), confirmClicker:not(.disabled):active {
	color: #333;
	background-color: #ccc;
}

toggleClicker {
	border-style: dotted;
}

toggleClicker.enabled {
	border-style: solid;
}

heldClicker {
	border-width: 5px;
	border-style: double;
}

heldClicker.held, confirmClicker:not(.primed):active {
	color: #333 !important;
}

confirmClicker {
	border-radius: 0.25em 1.25em 0.25em 1.25em;
}

confirmClicker.primed:hover {
	background-color: #f66;
	border-color: #f66;
	color: #333;
}

confirmClicker.primed:active {
	background-color: #333;
	color: #f66;
}

confirmClicker.primed::before {
	content: "Confirm: ";
}

confirmClicker.primed::after {
	content: "?";
}

.disabled {
	cursor: not-allowed;
	color: #666;
}

choice, buttonGroup {
	margin: 2em;
	display:block;
}

choice prompt, choice description {
	display:block;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}

choice toggleClicker {
	border-radius: 0;
}

choice toggleClicker:first-of-type, choice toggleClicker.first {
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}

choice toggleClicker:last-of-type, choice toggleClicker.last {
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
}

body.showKeys [key] {
	position: relative;
	color: transparent !important;
}

body.showKeys [key]:before {
	content: "[" attr(key) "] ";
	color: #ccc;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	padding-top: 0.5em;
	text-align: center;
	vertical-align: middle;
}

clicker.color1, heldClicker.color1, toggleClicker.color1, confirmClicker.color1:not(.primed), choice.color1 toggleClicker {
	border-color: #f90;
	color: #f90;
}

clicker.color1:not(.disabled):active, heldClicker.color1.held, toggleClicker.color1:not(.disabled):active, toggleClicker.color1.enabled:not(.disabled), choice.color1 toggleClicker:not(.disabled):active, choice.color1 toggleClicker.enabled:not(.disabled), confirmClicker.color1:not(.primed):not(.disabled):active {
	background-color: #f90;
}

clicker.color2, heldClicker.color2, toggleClicker.color2, confirmClicker.color2:not(.primed), choice.color2 toggleClicker {
	border-color: #c9c;
	color: #c9c;
}

clicker.color2:not(.disabled):active, heldClicker.color2.held, toggleClicker.color2:not(.disabled):active, toggleClicker.color2.enabled:not(.disabled), choice.color2 toggleClicker:not(.disabled):active, choice.color2 toggleClicker.enabled:not(.disabled), confirmClicker.color2:not(.primed):not(.disabled):active {
	background-color: #c9c;
}

clicker.color3, heldClicker.color3, toggleClicker.color3, confirmClicker.color3:not(.primed), choice.color3 toggleClicker {
	border-color: #c66;
	color: #c66;
}

clicker.color3:not(.disabled):active, heldClicker.color3.held, toggleClicker.color3:not(.disabled):active, toggleClicker.color3.enabled:not(.disabled), choice.color3 toggleClicker:not(.disabled):active, choice.color3 toggleClicker.enabled:not(.disabled), confirmClicker.color3:not(.primed):not(.disabled):active {
	background-color: #c66;
}

clicker.color4, heldClicker.color4, toggleClicker.color4, confirmClicker.color4:not(.primed), choice.color4 toggleClicker {
	border-color: #99c;
	color: #99c;
}

clicker.color4:not(.disabled):active, heldClicker.color4.held, toggleClicker.color4:not(.disabled):active, toggleClicker.color4.enabled:not(.disabled), choice.color4 toggleClicker:not(.disabled):active, choice.color4 toggleClicker.enabled:not(.disabled), confirmClicker.color4:not(.primed):not(.disabled):active {
	background-color: #99c;
}

clicker.color5, heldClicker.color5, toggleClicker.color5, confirmClicker.color5:not(.primed), choice.color5 toggleClicker {
	border-color: #fc9;
	color: #fc9;
}

clicker.color5:not(.disabled):active, heldClicker.color5.held, toggleClicker.color5:not(.disabled):active, toggleClicker.color5.enabled:not(.disabled), choice.color5 toggleClicker:not(.disabled):active, choice.color5 toggleClicker.enabled:not(.disabled), confirmClicker.color5:not(.primed):not(.disabled):active {
	background-color: #fc9;
}

clicker.color6, heldClicker.color6, toggleClicker.color6, confirmClicker.color6:not(.primed), choice.color6 toggleClicker {
	border-color: #99f;
	color: #99f;
}

clicker.color6:not(.disabled):active, heldClicker.color6.held, toggleClicker.color6:not(.disabled):active, toggleClicker.color6.enabled:not(.disabled), choice.color6 toggleClicker:not(.disabled):active, choice.color6 toggleClicker.enabled:not(.disabled), confirmClicker.color6:not(.primed):not(.disabled):active {
	background-color: #99f;
}

clicker.color7, heldClicker.color7, toggleClicker.color7, confirmClicker.color7:not(.primed), choice.color7 toggleClicker {
	border-color: #f96;
	color: #f96;
}

clicker.color7:not(.disabled):active, heldClicker.color7.held, toggleClicker.color7:not(.disabled):active, toggleClicker.color7.enabled:not(.disabled), choice.color7 toggleClicker:not(.disabled):active, choice.color7 toggleClicker.enabled:not(.disabled), confirmClicker.color7:not(.primed):not(.disabled):active {
	background-color: #f96;
}

clicker.color8, heldClicker.color8, toggleClicker.color8, confirmClicker.color8:not(.primed), choice.color8 toggleClicker {
	border-color: #c69;
	color: #c69;
}

clicker.color8:not(.disabled):active, heldClicker.color8.held, toggleClicker.color8:not(.disabled):active, toggleClicker.color8.enabled:not(.disabled), choice.color8 toggleClicker:not(.disabled):active, choice.color8 toggleClicker.enabled:not(.disabled), confirmClicker.color8:not(.primed):not(.disabled):active {
	background-color: #c69;
}








#errorMsg {
	white-space: pre-line;
}

#systemSelect .playerIdentifier {
	font-size: 20em;
	float: left;
	width: 40%;
	height: 100%;
	text-align: center;
}

#systemList {
	float:left;
	width:60%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#systemList li {
	font-size: 2em;
	padding: 0.5em;
}

#systemList .prompt {
	padding-left: 0em;
	padding-bottom: 1em;
}

#systemList li.option {
	cursor: pointer;
}

#systemList li.option.selected {
	text-decoration: underline;
}

#systemList li.option.taken {
	color: #999;
	border-color: #999;
}

#gameSetup {
	overflow: auto;
}


#systemSwitcher {
	height: 3em;
	border-bottom: solid #ccc 1px;
	padding: 0.5em;
}

#systemSwitcher choice {
	margin: 0em;
	display: inline-block;
}

system {
	position: absolute;
	left: 0; right: 0;
	top: 4em; bottom: 0;
	padding: 1em;
}


/*
@media (max-width: 700px) {
	body {
		font-size: 1em;
	}
}
*/