@import '../../general/mixins';

.systemHeader {
    flex-shrink: 0;
    flex-grow: 0;

    height: 2rem;
    background-color: $colorTertiary;
    margin: 0 0 1rem 0;
    padding: 0 0.75em;
    border-radius: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include headerSideways() {
        flex-direction: column-reverse;
        height: unset;
        width: 2rem;
        margin: 0 1rem 0 0;
    }
}

.systemHeader__name{ 
    flex-shrink: 0;
    flex-grow: 0;

    font-size: 2em;
    background-color: $backgroundColor;
    padding: 0 0.125rem;
    margin: 0 0 0 1rem;

    @include headerSideways() {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        
        padding: 0.125rem 0;
        margin: 0 0 1.5rem 0;
    }
}

.systemHeader__power,
.systemHeader__health {
    font-size: 1.5em;
    color: white;
    text-align: right;
    
    @include headerSideways() {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
    }
}

.systemHeader__power:after,
.systemHeader__health:after {
    content: '%';
    font-size: 0.65em;
}

@media(min-width: 450px) {
    .systemHeader__health {
        flex-grow: 1;
    }

    .systemHeader__power {
        width: 5em;

        @include headerSideways() {
            width: unset;
            height: 5em;
        }
    }
}