@import './general/mixins';

.systemHeader {
    flex-shrink: 0;
    flex-grow: 0;

    height: 2rem;
    background-color: $colorTertiary;
    margin: 0 0 1rem 0;
    padding: 0 0.75em;
    border-radius: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.systemHeader__name{ 
    flex-shrink: 0;
    flex-grow: 0;

    font-size: 2em;
    background-color: $backgroundColor;
    padding: 0em 0.25em;
    margin: 0 0 0 0.5em;
}

.systemHeader__power,
.systemHeader__health {
    font-size: 1.5em;
    color: white;
    text-align: right;
}

.systemHeader__power:after,
.systemHeader__health:after {
    content: '%';
    font-size: 0.65em;
}

@media(min-width: 450px) {
    .systemHeader__health {
        flex-grow: 1;
    }

    .systemHeader__power {
        width: 5em;
    }
}

/*
.systemHeader__systemIcons {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;

    & > * {
        flex-grow: 1;
        flex-shrink: 1;
        
        max-width: 6em;
        min-width: calc(24px + 0.2em);
    }
}

.systemHeader__commonIcons {
    padding-left: 0.5em;
    flex-shrink: 0;
    flex-grow: 0;
}

.systemHeader__separator {
    width: 2px;
    background-color: $backgroundColor;
}
*/