@import '../../ui/borders';
@import '../../ui/breakpoints';
@import '../../ui/layout';

#shields {
    & > section.tools {
        display: flex;
        @include landscape() {
            width: 12em;
            flex-direction: column;
        }
        @include portrait() {
            height: 6em;
            flex-direction: row;
            justify-content: space-around;
            & > * {
                flex-basis: 0px;
                flex-grow: 1;
            }
        }
    }

    .powerLevel {
        position: absolute;
        top: 0;
        right: 0;
    }

    .toggler {
        display: inline-block;
    }

    @include landscape() {
        > section {
            @include nopad();
        }

        .powerLevel {
            top: 1em;
        }

        .toggler {
            @include media-height-down(600px) {
                margin-bottom: 1em;
            }
            @include media-height-down(550px) {
                font-size: 0.9em;
            }
            @include media-height-down(500px) {
                margin-top: 1em;
                margin-bottom: 0.5em;
            }
            @include media-height-down(450px) {
                font-size: 0.8em;
            }
        }
        .focus {
            @include media-height-down(600px) {
                font-size: 0.9em;
            }
            @include media-height-down(550px) {
                font-size: 0.8em;
            }
            @include media-height-down(500px) {
                font-size: 0.7em;
            }
            @include media-height-down(450px) {
                font-size: 0.65em;
            }
            @include media-height-down(400px) {
                font-size: 0.5em;
            }
        }
    }

    @include portrait() {
        choice.focus, buttongroup.toggler {
            display: inline-block;
            margin-top: 0em;
        }
    }
}